.blockTop {
  width: 100%;
  padding: 90px 20% 110px 20%;

  > h4 {
    font-style: italic;
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    font-family: 'Kaushan Script', cursive;
    margin-bottom: 20px;
  }

  > h3 {
    font-size: 30px;
    text-align: center;
    font-weight: 700;
  }

  > h5 {
    font-size: 15px;
    text-align: center;
    color: #999;
    margin-bottom: 100px;
    font-weight: 500;
  }

  .line {
    width: 60px;
    height: 3px;
    background-color: #f48b82;
    margin: 40px calc(50% - 30px) 50px calc(50% - 30px);
  }
}

@media (max-width: 1280px) {
  .blockTop {
    padding: 90px 10% 110px 10%;
  }
}

@media (max-width: 1024px) {
  .blockTop {
    padding: 90px 5% 110px 5%;

    > div {
      h5 {
        margin-bottom: 80px;
      }
    }
  }
}

@media (max-width: 600px) {
  .blockTop {
    padding: 60px 5% 60px 5%;

    > div {
      > h4 {
        font-size: 20px;
        margin-bottom: 10px;
      }
    }

    h3 {
      font-size: 26px;
    }

    h5 {
      font-size: 14px;
      margin-bottom: 40px;
    }

    .line {
      margin: 20px calc(50% - 30px) 30px calc(50% - 30px);
    }
  }
}