.clients {
  background: linear-gradient(rgba(230, 230, 230, 0.8), rgba(230, 230, 230, 0.8)), url("../assets/img/clientBg.png") no-repeat center center;
  background-size: cover;

  .clients__info {
    display: grid;
    grid-template: auto auto / 1fr 1fr;
    grid-gap: 70px;

    > div {
      display: grid;
      grid-template: auto / 1fr 6fr;
      grid-gap: 20px;

      h3 {
        text-align: left;
        font-size: 14px;
        margin-bottom: 10px;
      }

      h4 {
        font-style: italic;
        font-weight: 400;
        text-align: left;
        font-size: 15px;
        margin-bottom: 15px;
      }

      .line {
        margin: 0 0 20px 0;
      }

      h6 {
        color: #999;
        text-align: left;
        font-size: 15px;
        font-weight: 500;
      }
    }
  }
}

@media (max-width: 768px) {
  .clients {
    .clients__info {
      display: grid;
      grid-template: auto auto auto auto  / 1fr;
      grid-gap: 70px;
    }
  }
}

@media (max-width: 600px) {
  .clients {
    .clients__info {
      > div {
        > img {
          width: 80px;
          height: 80px;
        }
      }
    }
  }
}