.quote {
  width: 100%;
  padding: 60px 20%;

  .swiper {
    width: 100%;
    height: 100%;

    .swiper-button-prev, .swiper-button-next {
      color: black;
    }
  }

  .quote__info {
    width: 100%;
    padding: 0 10%;
    display: grid;
    grid-template: auto auto / 200px 1fr;
    grid-template-areas:
      'image top'
      'image bottom';
    grid-gap: 10px;

    img {
      grid-area: image;
      width: 150px;
      height: 150px;
      background: transparent;
    }

    h4 {
      color: #b1b1b1;
      font-weight: 300;
      grid-area: top;
      font-style: italic;
      font-size: 24px;
    }

    .quote__userName {
      grid-area: bottom;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .quoteLine {
        width: 60px;
        height: 2px;
        background-color: #f48b82;
        margin-right: 10px;
      }

      h5 {
        font-family: 'Kaushan Script', cursive;
        font-style: italic;
        font-size: 24px;
        font-weight: 500;
        margin: 0;
        padding: 0;
      }
    }
  }
}

.quote1 {
  margin-top: 10px;
  background-color: #f8f8f8;
}

.quote2 {
  margin-top: 40px;
  margin-bottom: 40px;
}

@media (max-width: 1280px) {
  .quote {
    padding: 60px 10%;
  }
}

@media (max-width: 1024px) {
  .quote {
    padding: 60px 5%;

    .quote__info {
      h4 {
        font-size: 20px;
      }

      .quote__userName {
        h5 {
          font-size: 20px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .quote {
    .quote__info {
      display: grid;
      grid-template: auto auto / 120px 1fr;
      grid-template-areas:
      'image top'
      'image bottom';

      img {
        width: 100px;
        height: 100px;
      }
    }

    > div {
      h4 {
        font-size: 18px;
      }

      .quote__userName {
        h5 {
          font-size: 18px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .quote {
    .quote__info {
      display: grid;
      grid-template: 100px auto auto / 1fr;
      grid-template-areas:
      'image'
      'top'
      'bottom';
      padding: 0 20%;

      img {
        margin: 0 calc(50% - 40px);
        width: 80px;
        height: 80px;
      }
    }

    > div {
      h4 {
        font-size: 16px;
        text-align: center;
      }

      .quote__userName {
        h5 {
          font-size: 16px;
        }
      }
    }
  }
  .quote1 {
    background-color: #f8f8f8;
  }
  .quote2 {
    margin: 0;
  }
}