@import "~normalize.css";
//@import "fonts";
@import "header";
@import "blockTop";
@import "story";
@import "statistics";
@import "services";
@import "design";
@import "whatWeDo";
@import "quote";
@import "whoWeAre";
@import "designs";
@import "ourWork";
@import "clients";
@import "stories";
@import "map";
@import "footer";
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(244, 139, 130, 0.7) rgba(252, 227, 138, 0.8);
}

*::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: rgba(252, 227, 138, 0.8);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(244, 139, 130, 0.7);
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

a, button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

button {
  background: transparent;
}
